@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.st-border-btn {
  border: solid 1px #cccccc;
  height: 42px;
  color: #12293e;
}

/** Theme Text Colors **/
.grey-text {
  color: #6d6d6d;
}

.light-grey-text {
  color: #919191;
}

.light-blue-text {
  color: #e7f2f9;
}

.main-text {
  color: #12293e;
}

.more-light-grey-text {
  color: #dbdbdb;
}

.primary-text {
  color: #0f81c0;
}

/** Theme Background Colors **/
.grey-bg {
  background-color: #6d6d6d;
}

.light-grey-bg {
  background-color: #919191;
}

.light-blue-bg {
  background-color: #e7f2f9;
}

.main-bg {
  background-color: #12293e;
}

.more-light-grey-bg {
  background-color: #dbdbdb;
}

.primary-bg {
  background-color: #0f81c0;
}

/** Heading Style **/

.heading-style {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin: 12px 0 20px;
}

/** Main Header Style **/

.header-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.content-wrapper {
  padding-top: 128px;
}

/** Steps form wrapper style **/

.step-form-wrapper svg.MuiSvgIcon-root.Mui-active {
  fill: transparent;
  border: solid 1px #0f81c0;
}

.step-form-wrapper svg.MuiSvgIcon-root.Mui-active text {
  fill: #0f81c0;
}

.step-form-wrapper svg.MuiSvgIcon-root.Mui-completed {
  border-color: transparent;
  color: #0f81c0;
}

.step-form-wrapper .MuiStep-horizontal:hover svg {
  fill: transparent;
}

.step-form-wrapper .MuiStep-horizontal.Mui-completed:hover svg {
  fill: #0f81c0;
}
